---
title: Rotating Certificates
owner: Ops Manager
---

This topic describes how to check the expiration date of and rotate certificate authorities (CAs) and leaf certificates in <%= vars.platform_name %>.


This includes the <%= vars.ops_manager %> root CA, BOSH NATS CA, and leaf certificates stored in <%= vars.ops_manager %> and CredHub that are visible to the <%= vars.ops_manager %> API.

<p class='note warning'><strong>Warning:</strong> The rotation procedures described in this topic do not work if the certificates have already expired. If the certificates have expired, contact <%= vars.support_link %> for guidance.</p>

For information about rotating IPsec certificates, see [Rotating IPsec Certificates](https://docs.pivotal.io/addon-ipsec/credentials.html).

For information about using trusted third-party certificates for both apps hosted on <%= vars.platform_name %> and internal <%= vars.platform_name %> components, see [Setting Trusted Certificates](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/trusted-certificates.html).


## <a id='overview'></a> Overview

The <%= vars.ops_manager %> API manages and lists internal CAs and leaf certificates that enable <%= vars.platform_name %> components to communicate with each other securely using TLS. It can also list certificates used externally, such as SAML certificates that authenticate to an external identity provider (IDP).

For more information about the CAs and leaf certificates visible to the <%= vars.ops_manager %> API, see [Certificate Types](certificate-types.html).

Rotate CAs and leaf certificates before they expire to avoid downtime for your foundation.


## <a id='procedure'></a> Procedure

This section explains how to rotate the <%= vars.ops_manager %> root CA, BOSH NATS CA, and leaf certificates in <%= vars.platform_name %>.

<p class="note"><strong>Note:</strong> The BOSH NATS CA is automatically rotated when you rotate the <%= vars.ops_manager %> root CA. For more information, see <a href="certificate-types.html">Certificate Types</a>.</p>

To rotate certificates in <%= vars.platform_name %>, you first check the expiration dates of all certificates. Then, based on the types of certificates that expire soon, you follow a certificate rotation procedure to replace expiring certificates and redeploy BOSH to apply changes.

To rotate CAs and leaf certificates:

1. Check the expiration dates of the <%= vars.ops_manager %> root CA and leaf certificates, and identify the types of leaf certificates that require rotation. For more information, see [Check Expiration Dates and Certificate Types](#checks) below.

1. Rotate the certificates that expire soon. For more information, see [Rotate Certificates](#rotate) below.


## <a id='checks'></a> Check Expiration Dates and Certificate Types

This section describes how to check the expiration dates of the CAs and leaf certificates that the <%= vars.ops_manager %> API lists and manages. It also explains how to identify the types of certificates that require manual rotation.

After identifying the types of certificates that expire soon, you can determine which certificate rotation procedure to follow.

1. Follow the procedure in [Using <%= vars.ops_manager %> API](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/ops-man-api.html) to target and authenticate with the <%= vars.ops_manager %> User Account and Authentication (UAA) server. Record your <%= vars.ops_manager %> access token, and use it for `UAA-ACCESS-TOKEN` in the steps below.
  <p class="note"><strong>Note:</strong> When you record your <%= vars.ops_manager %> access token, remove any newline characters such as <code>\n</code>.</p>

1.  To retrieve the <%= vars.ops_manager %> certificates, use `curl` to call the `/deployed/certificates` endpoint of the <%= vars.ops_manager %> API. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/deployed/certificates" \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```
    Where:
    * `OPS-MANAGER-FQDN` is the fully-qualified domain name (FQDN) of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is the `access_token` value you recorded in the previous step.
    <br>
    <br>
    More options:
      * To limit command output to certificates that expire within a given time interval, append `?expires_within=TIME` to the endpoint, replacing `TIME` with an integer-letter code.<br>
          * Valid letter codes are `d` for days, `w` for weeks, `m` for months, and `y` for years. For example, querying to `https://OPS-MANAGER-FQDN/api/v0/deployed/certificates?expires_within=6m` searches for certificates expiring within six months.
      * To make the JSON output more readable, you can pipe your `curl` command to [jq](https://stedolan.github.io/jq/) or another text editor with JSON formatting.

1. The `deployed/certificates` output lists all CAs and leaf certificates visible to the <%= vars.ops_manager %> API, whether they are stored in <%= vars.ops_manager %> directly or stored in CredHub. To determine the expiration date and type for each certificate listed:
  1. Determine the expiration date from the `valid_until` value. For example, the root CA listed below expires on August 12, 2020:
    <pre class='terminal'>
    {
      "configurable": true,
      "is_ca": true,
      "property_reference": ".properties.root_ca.fb10484dd5541a273c9d",
      "property_type": "rsa_cert_credentials",
      "product_guid": "ops_manager",
      "location": "ops_manager",
      "variable_path": null,
      "issuer": "/CN=ToolsmithsCA",
      "valid_from": "2019-08-13T15:30:22Z",
      "valid_until": "2020-08-12T15:30:22Z"
    },
    </pre>
  1. For any certificates expiring soon, use the following rules to identify their types:
      * **Non-rotatable certificates:** Non-rotatable certificates have the following property value:
          * `variable_path` is `/opsmgr/bosh_dns/tls_ca`.
      * **Non-configurable certificates:** Non-configurable leaf certificates have the following property values:
          * `variable_path` is not `/opsmgr/bosh_dns/tls_ca`.
          * `configurable` is `false`.
          * `location` is either `ops_manager` or `credhub`.
          * `is_ca` is `false`.
      * **Configurable certificates:** Configurable leaf certificates have the following property values:
          * `configurable` is `true`.
          * `is_ca` is `false`.
      * **<%= vars.ops_manager %> root CA and matching BOSH NATS CA:** CAs have the following property values:
          * `is_ca` is `true`.
          * `location` is `ops_manager`.

1. After you identify the list of certificates that expire soon, follow one of the procedures in [Rotate Certificates](#rotate) below.


## <a id='rotate'></a> Rotate Certificates

This section includes procedures for rotating CAs and leaf certificates. There are different rotation procedures for each type of certificate that requires rotation.

You can determine which rotation procedure to follow based on the types of certificates in your foundation that must be rotated. For more information about identifying the types of certificates in your foundation that expire soon, see [Check Expiration Dates and Certificate Types](#checks) above.

<p class='note warning'><strong>Warning:</strong> The rotation procedures described in this topic do not work if the certificates have already expired. If the certificates have expired, contact <%= vars.support_link %> for guidance.</p>

To rotate certificates, follow one of these procedures:

* To rotate non-rotatable certificates, contact <%= vars.support_link %>.

* To rotate CAs stored in <%= vars.ops_manager %> and CredHub, see [Rotate CAs and Leaf Certificates](#rotate-ca) below. This procedure also rotates the BOSH NATS CA.

* To rotate non-configurable leaf certificates, but not the <%= vars.ops_manager %> root CA or BOSH NATS CA, see [Rotating Non-Configurable Leaf Certificates](rotate-non-configurable-certs.html).

* To rotate configurable leaf certificates, but not the <%= vars.ops_manager %> root CA or BOSH NATS CA, see [Rotating Configurable Leaf Certificates](rotate-configurable-certs.html).

* To rotate the `/services/tls_ca` certificate, see [Rotating the Services TLS CA and Its Leaf Certificates](services_tls_ca_rotate.html).

### <a id='rotate-ca'></a> Rotate the Root CA and Leaf Certificates

<p class="note warning"><strong>Warning:</strong> The Services CA certificate, <code>/services/tls_ca</code>,
cannot be rotated using this procedure. For information about how to rotate the <code>/services/tls_ca</code>
certificate, see <a href="services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.</p>

This procedure uses the <%= vars.ops_manager %> API to rotate the <%= vars.ops_manager %> root CA
and non-configurable leaf certificates. When you rotate the <%= vars.ops_manager %> root CA, the
<%= vars.ops_manager %> API automatically rotates the BOSH NATS CA.

If you used the **Generate RSA Certificate** feature to rotate the configurable certificates, this
procedure instructs you to rotate the configurable leaf certificates by regenerating them.

To prevent system downtime, this procedure includes two BOSH deploys. The first BOSH deploy applies
new certificates to <%= vars.platform_name %> components. The second BOSH deploy deletes the old
certificates.

<p class='note'><strong>Note:</strong> The names of the <strong>Upgrade All Service Instances</strong> and <strong>Recreate All Service Instances</strong> errands may be slightly different between services.</p>

<p class="note warning"><strong>Warning:</strong> You must complete these steps in the exact order specified. Otherwise, you may damage your deployment.</p>

To rotate the <%= vars.ops_manager %> root CA and leaf certificates:

1. Add a new <%= vars.ops_manager %> root CA. For more information, see [Add a New Root CA](#add-new-ca) below.

1. Activate the <%= vars.ops_manager %> root CA. For more information, see [Activate the Root CA](#activate-new-ca) below.

1. Rotate leaf configurable certificates. For more information, see [Rotate Configurable Leaf Certificates](#rotate-config-after-new-root) below.

1. Rotate non-configurable leaf certificates. For more information, see [Rotate Non-Configurable Leaf Certificates from the New Root CA](#regenerate-from-new-root) below.

1. Delete the old root CA. For more information, see [Delete the Old Root CA](#delete) below.

#### <a id='add-new-ca'></a> Step 1: Add a New Root CA

This section describes how to add a new root CA for <%= vars.ops_manager %>. The new root CA can be a Pivotal-generated CA or your own custom CA.

This procedure also automatically regenerates the BOSH NATS CA.

<p class="note warning"><strong>Warning:</strong> The CAs for certain versions of the MySQL, Redis,
RabbitMQ, and Pivotal Cloud Cache tiles are excluded from rotation. For more information about
rotating these CAs, see the tile-specific documentation.</p>

To add a new root CA for <%= vars.ops_manager %> and regenerate the BOSH NATS CA:

1. If you have not already done so, follow the procedure in [Using <%= vars.ops_manager %> API](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/ops-man-api.html) to target and authenticate with the <%= vars.ops_manager %> UAA server. Record your <%= vars.ops_manager %> access token, and use it for `UAA-ACCESS-TOKEN` in the following steps.
  <p class="note"><strong>Note:</strong> When you record your <%= vars.ops_manager %> access token, remove any newline characters such as <code>\n</code>.</p>

1. Use <%= vars.ops_manager %> to generate a new CA, or add your own custom CA:
  <p class ="note"><strong>Note:</strong> Elliptic Curve Digital Signature Algorithm (ECDSA) certificates are not supported in <%= vars.platform_name %>.</p>
  * **To use your own custom CA:** Call the <%= vars.ops_manager %> API `certificate_authorities` endpoint. Run:

        ```
        curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities" \
            -X POST \
            -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
            -H "Content-Type: application/json" \
            -d '{"cert_pem": "-----BEGIN CERTIFICATE-----\CUSTOM-CERTIFICATE", "private_key_pem": "-----BEGIN RSA PRIVATE KEY-----\RSA-KEY"}'
        ```
        Where:
        * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
        * `CUSTOM-CERTIFICATE` is your custom CA.
        * `RSA-KEY` is your RSA key.
        * `UAA-ACCESS-TOKEN` is your UAA access token.
        <br>
        <br>
        If the command succeeds, the API returns a response that includes the new CA certificate. For example:
        <pre class="terminal">
          HTTP/1.1 200 OK
          {
            "certificate_authorities": [
              {
                "guid": "f7bc18f34f2a7a9403c3",
                "issuer": "YOUR-CA",
                "created_on": "2017-01-09",
                "expires_on": "2021-01-09",
                "active": true,
                "cert_pem": "-----BEGIN CERTIFICATE-----\nMIIC+zCCAeOgAwIBAgI....etc"
              }
            ]
          }
        </pre>
  * **To use a Pivotal-generated CA:** Call the <%= vars.ops_manager %> API `generate` endpoint. Run:

        ```
        curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities/generate" \
              -X POST \
              -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
              -H "Content-Type: application/json" \
              -d '{}'
        ```
        Where:
        * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
        * `UAA-ACCESS-TOKEN` is your UAA access token.
        <br>
        <br>
        If the command succeeds, the API returns a response that includes the new CA certificate. For example:
        <pre class="terminal">
            HTTP/1.1 200 OK
        {
            "guid": "f7bc18f34f2a7a9403c3",
            "issuer": "Pivotal",
            "created_on": "2017-01-19",
            "expires_on": "2021-01-19",
            "active": false,
            "cert_pem": "-----BEGIN EXAMPLE CERTIFICATE-----
            MIIC+zCCAeOgAwIBAgIBADANBgkqhkiG9w0BAQsFADAfMQswCQYDVQQGEwJVUzEQ
            EXAMPLEoCgwHUGl2b3RhbDAeFw0xNDarthgyMTQyMjVaFw0yMTAxMTkyMTQyMjVa
            EXAMPLEoBgNVBAYTAlVTMRAwDgYDVVaderdQaXZvdGFsMIIBIjANBgkqhkiG9w0B
            EXAMPLEoAQ8AMIIBCgKCAQEAyV4OhPIIZTEym9OcdcNVip9Ev0ijPPLo9WPLUMzT
            EXAMPLEo/TgD+DP09mwVXfqwBlJmoj9DqRED1x/6bc0Ki/BAFo/P4MmOKm3QnDCt
            EXAMPLEooqgA++2HYrNTKWJ5fsXmERs8lK9AXXT7RKXhktyWWU3oNGf7zo0e3YKp
            EXAMPLEoh1NwIbNcGT1AurIDsxyOZy1HVzBLTisMyDogJmSCLsOw3qUDQjatjXKw
            EXAMPLEojG3nv2hvD4/aTOiHuKM3+AGbnaS2MdIOvFOh/7Y79tUp89csK0gs6uOd
            EXAMPLEohe4DcKw5CzUTfHKNXgHyeoVOBPcVQTp4lJp1iQIDAQABo0IwQDAdBgNV
            EXAMPLEoyH4y7VEuImLStXM0CKR8uVqxX/gwDwYDVR0TAQH/BAUwAwEB/zAOBgNV
            EXAMPLEoBAMCAQYwDQYJKoZIhvcNAQELBQADggEBALmHOPxdyBGnuR0HgR9V4TwJ
            EXAMPLEoGLKVT7am5z6G2Oq5cwACFHWAFfrPG4W9Jm577QtewiY/Rad/PbkY0YSY
            EXAMPLEokrfNjxjxI0H2sr7qLBFjJ0wBZHhVmDsO6A9PkfAPu4eJvqRMuL/xGmSQ
            EXAMPLEoCynMNz7FgHyFbd9D9X5YW8fWGSeVBPPikcONdRvjw9aEeAtbGEh8eZCP
            EXAMPLEob33RuR+CTNqThXY9k8d7/7ba4KVdd4gP8ynFgwvnDQOjcJZ6Go5QY5HA
            EXAMPLEoPFW8pAYcvWrXKR0rE8fL5o9qgTyjmO+5yyyvWIYrKPqqIUIvMCdNr84=
              -----END EXAMPLE CERTIFICATE-----
              "
        </pre>

1. Confirm that the new CA is added by listing all the root CAs for <%= vars.ops_manager %> by running:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities" \
          -X GET \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```
    Where:
    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is your UAA access token.
    <br>
    <br>
    The API call returns the GUID of the newly added CA. For example:
    <pre class="terminal">
      HTTP/1.1 200 OK
      {
        "certificate_authorities": [
          {
            "guid": "f7bc18f34f2a7a9403c3",
            "issuer": "Pivotal",
            "created_on": "2017-01-09",
            "expires_on": "2021-01-09",
            "active": true,
            "cert_pem": "-----BEGIN CERTIFICATE-----\nMIIC+zCCAeOgAwIBAgI....etc"
          }
          {
            "guid": "a8ee01e33e3e3e3303e3",
            "issuer": "Pivotal",
            "created_on": "2017-04-09",
            "expires_on": "2021-04-09",
            "active": false,
            "cert_pem": "-----BEGIN CERTIFICATE-----\nzBBBC+eAAAe1gAwAAAeZ....etc"
          }
        ]
      }
    </pre>

1. Identify the newly added CA, which has `active` set to `false`. Record its GUID.

1. Navigate to `https://OPS-MANAGER-FQDN` in a browser, where `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.

1. Log in to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the **BOSH Director** tile.

1. Select **Director Config**.

1. Enable the **Recreate All VMs** checkbox. This propagates the new CA to all VMs deployed by the BOSH Director to prevent downtime.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. If you have service tiles installed, for each service tile:
    1. Click the tile.
    1. Click the **Errands** tab.
    1. Enable the **Upgrade All Service Instances** errand. Running this errand is necessary to push CredHub certificate updates to each service instance.
    1. If the service tile has the **Recreate All Service Instances** errand:
        1. Enable the **Recreate All Service Instances** errand.
        1. Click **Review Pending Changes**.
        1. Click **Apply Changes**.
    1. If the service tile does not have the **Recreate All Service Instances** errand:
        1. Click **Review Pending Changes**.
        1. Click **Apply Changes**.
        1. When the deploy finishes, manually push the BOSH NATS CA to each of its service instances. For each service instance, run:

            ```
            bosh -d SERVICE-INSTANCE-DEPLOYMENT recreate
            ```
            Where `SERVICE-INSTANCE-DEPLOYMENT` is the BOSH deployment name for the service instance.

1. If you do not have any service tiles installed:
    1. Click **Review Pending Changes**.
    1. Click **Apply Changes**.

1. When the deploy finishes and you have completed all necessary tasks to update service instances, continue to the next section, [Activate the Root CA](#activate-new-ca).

#### <a id='activate-new-ca'></a> Step 2: Activate the Root CA

To activate the new root CA:

1. Make an <%= vars.ops_manager %> API call that activates the new CAs. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities/CERTIFICATE-GUID/activate" \
      -X POST \
      -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
      -H "Content-Type: application/json" \
      -d '{}'
    ```
    Where:
    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `CERTIFICATE-GUID` is the GUID of your CA that you retrieved in the previous section.
    * `UAA-ACCESS-TOKEN` is your UAA access token.
    <br>
    <br>
    The API returns a successful response:
    <pre class="terminal">HTTP/1.1 200 OK</pre>

1. List your root CAs again to confirm that the new <%= vars.ops_manager %> root CA is active. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities" \
          -X GET \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```
    Where:
    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is your UAA access token.

1. Examine the response to ensure that your new CA has the `active` property set to `true`.

#### <a id='rotate-config-after-new-root'></a> Step 3: Rotate Configurable Leaf Certificates

Any configurable certificates generated from the <%= vars.ops_manager %> root CA must be rotated. These are the certificates that you generated using **Generate RSA Certificate** in the <%= vars.ops_manager %> UI. For example, see [Providing a Certificate for Your TLS Termination Point](https://docs.pivotal.io/application-service/2-7/operating/security_config.html).

To regenerate and rotate configurable leaf certificates, do the following for each configurable certificate that expires soon:

1. Find the text field where the certificate is configured within the <%= vars.ops_manager %> UI. You might need to look through multiple configuration panes to identify the location of the certificate configuration text field. Use the following fields to identify the location of the certificate configuration text field:
    * The `product_guid` field in the <%= vars.ops_manager %> API output can help identify the tile in which the certificate is configured. For example, the prefix `p-bosh-` refers to the BOSH Director tile, and the prefix `cf-` refers to the <%= vars.app_runtime_abbr %> tile.
    * The `property_reference` field in the <%= vars.ops_manager %> API output can help identify the configuration pane in which the certificate is configured. For example, the `uaa.service_provider_key_credentials` property is configured in the **UAA** pane of the <%= vars.app_runtime_abbr %> tile.

1. Copy a new value for the certificate into the text field or generate a new certificate using the
**Generate RSA Certificate** button.

1. Click **Save** at the bottom of each pane in which you added new certificates.

#### <a id='regenerate-from-new-root'></a> Step 4: Rotate Non-Configurable Leaf Certificates from the New Root CA

After activating the new <%= vars.ops_manager %> root CA, you must rotate non-configurable leaf certificates from the new root CA.

To rotate non-configurable leaf certificates from the new root CA:

1. Make a call to the <%= vars.ops_manager %> API to regenerate all non-configurable certificates. Run:

    ```
      curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities/active/regenerate" \
            -X POST \
            -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
            -H "Content-Type: application/json" \
            -d '{}'
    ```
    Where:
    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is your UAA access token.
    <br>
    <br>
    The API returns a successful response:
    <pre class="terminal">HTTP/1.1 200 OK</pre>

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the **BOSH Director** tile.

1. Select **Director Config**.

1. Enable the **Recreate All VMs** checkbox. This propagates the new CAs to all VMs deployed by the BOSH Director to prevent downtime.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. If you have service tiles installed, for each service tile:
    1. Click the tile.
    1. Click the **Errands** tab.
    1. Enable the **Upgrade All Service Instances** errand. Running this errand is necessary to push CredHub certificate updates to each service instance.
    1. If the service tile has the **Recreate All Service Instances** errand:
        1. Enable the **Recreate All Service Instances** errand.
        1. Click **Review Pending Changes**.
        1. Click **Apply Changes**.
    1. If the service tile does not have the **Recreate All Service Instances** errand:
        1. Click **Review Pending Changes**.
        1. Click **Apply Changes**.
        1. When the deploy finishes, manually push the BOSH NATS CA to each of its service instances. For each service instance, run:

            ```
            bosh -d SERVICE-INSTANCE-DEPLOYMENT recreate
            ```
            Where `SERVICE-INSTANCE-DEPLOYMENT` is the BOSH deployment name for the service instance.

1. If you do not have any service tiles installed:
    1. Click **Review Pending Changes**.
    1. Click **Apply Changes**.

1. When the deploy finishes and you have completed all necessary tasks to update service instances, continue to the next section, [Delete the Old Root CA](#delete).

#### <a id='delete'></a> Step 5: Delete the Old Root CA

After activating new CAs and rotating leaf certificates from the new CAs, you should delete the old <%= vars.ops_manager %> root CA from your foundation.

If your old root CA or leaf certificates have been compromised, you must delete the old root CA immediately. Otherwise, the old root CA and its leaf certificates may still be trusted, which compromises your foundation's security. If your old root CA or leaf certificates have not been compromised, <%= vars.company_name %> recommends that you delete the old root CA as soon as possible, but you can also delete it at a later time, such as in conjunction with another deploy.

<p class="note warning"><strong>Warning:</strong> Before you delete the old CA, ensure that you reviewed the <strong>Review Pending Changes</strong> page and clicked <strong>Apply Changes</strong> as part of <a href="#regenerate-from-new-root">Rotate Non-Configurable Leaf Certificates from the New Root CA</a> above.</p>

To delete the old <%= vars.ops_manager %> root CA:

1. List your root CAs to retrieve the GUID of the old, inactive <%= vars.ops_manager %> root CA. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities" \
          -X GET \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```
    Where:
    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is your UAA access token.

1. Use `curl` to make an API call to delete the old <%= vars.ops_manager %> root CA. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities/OLD-CERTIFICATE-GUID" \
          -X DELETE \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```
    Where:
    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `OLD-CERTIFICATE-GUID` is the GUID of the old <%= vars.ops_manager %> root CA.
    * `UAA-ACCESS-TOKEN` is your UAA access token.
    <br>
    <br>
    The API returns a successful response:
    <pre class="terminal">HTTP/1.1 200 OK</pre>

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the **BOSH Director** tile.

1. Select **Director Config**.

1. Enable the **Recreate All VMs** checkbox.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. If you have service tiles installed, for each service tile:
    1. Click the tile.
    1. Click the **Errands** tab.
    1. Enable the **Upgrade All Service Instances** errand. Running this errand is necessary to push CredHub certificate updates to each service instance.
    1. If the service tile has the **Recreate All Service Instances** errand:
        1. Enable the **Recreate All Service Instances** errand. Running this errand pushes BOSH agent certificate updates to service instances.
        1. Click **Review Pending Changes**.
        1. Click **Apply Changes**.
    1. If the service tile does not have the **Recreate All Service Instances** errand:
        1. Click **Review Pending Changes**.
        1. Click **Apply Changes**.
        1. When the deploy finishes, manually push BOSH agent certificate updates to each service instance. For each service instance, run:

            ```
            bosh -d SERVICE-INSTANCE-DEPLOYMENT recreate
            ```
            Where `SERVICE-INSTANCE-DEPLOYMENT` is the BOSH deployment name for the service instance.

1. If you do not have any service tiles installed:
    1. Click **Review Pending Changes**.
    1. Click **Apply Changes**.
