---
title: Rotating Certificates
owner: Ops Manager
---

This topic describes how to check the expiration date of and rotate the Pivotal Operations Manager root Certificate Authority (CA), BOSH NATS CA, and leaf certificates in <%= vars.product_name  %> that are visible to the Ops Manager API.

<p class='note warning'><strong>Warning:</strong> The rotation procedures described in this topic do not work if the certificates have already expired. If the certificates have expired, contact <a href="https://support.pivotal.io/">Pivotal Support</a> for guidance.</p>

For information about rotating IPsec certificates, see [Rotating IPsec Certificates](https://docs.pivotal.io/addon-ipsec/credentials.html).

For information about using trusted third-party certificates for both apps hosted on <%= vars.product_name %> and internal <%= vars.product_name %> components, see [Setting Trusted Certificates](../../customizing/trusted-certificates.html).

## <a id='intro'></a> Overview

The Ops Manager API manages and lists internal Certificate Authorities (CAs) and leaf certificates that enable <%= vars.product_name %> components to communicate with each other securely using TLS. It can also list certificates used externally, such as SAML certificates that authenticate to an external identity provider.

For more information about the CAs and leaf certificates visible to the Ops Manager API, see [Certificate Types](certificate-types.html).

Rotate CAs and leaf certificates before they expire to avoid downtime for your foundation.

## <a id='prerequisite'></a> Prerequisite for Rotating Certificates in Ops Manager v2.8

Before rotating certificates in Ops Manager v2.8, you must reset any certificates that have been manually set in CredHub. 
This requirement is due to a change in CredHub metadata in Ops Manager v2.7. Follow the procedure in [Reviewing Manually Set Certificates in CredHub](manual-credhub-certificate.html) to identify and reset any manually set certificates in CredHub.

Pivotal recommends that you reset any manually set certificates promptly after upgrading to Ops Manager v2.7.

For more information, see <a href="https://docs.pivotal.io/platform/2-7/pcf-release-notes/opsmanager-rn.html#credhub-generated-field">Operators Must Reset Manually Set Certificates in CredHub After Ops Manager v2.7 Upgrade</a> in the <i>Ops Manager v2.7 Release Notes</i>.

## <a id='procedure'></a> Procedure

This section explains how to rotate the Ops Manager root CA, BOSH NATS CA, and leaf certificates in <%= vars.product_name %>.

<p class="note"><b>Note:</b> The BOSH NATS CA is automatically rotated when you rotate the Ops Manager root CA. For more information, see <a href="./certificate-types.html">Certificate Types</a>.</p>

To rotate certificates in <%= vars.product_name %>, you first check the expiration dates of all certificates. Then, based on the types of certificates that expire soon, you follow a certificate rotation procedure to replace expiring certificates and redeploy BOSH to apply changes.

To rotate CAs and leaf certificates:

1. Check the expiration dates of the Ops Manager root CA and leaf certificates, and identify the types of leaf certificates that require rotation. See [Check Expiration Dates and Certificate Types](#checks).

1. Rotate the certificates that expire soon. See [Rotate Certificates](#rotate).

### <a id='checks'></a> Check Expiration Dates and Certificate Types

This section describes how to check the expiration dates of the CAs and leaf certificates that the Ops Manager API lists and manages. It also explains how to identify the types of certificates that require manual rotation.

After identifying the types of certificates that expire soon, you can determine which certificate rotation procedure to follow.

1. Perform the steps in the [Using Ops Manager API](../../customizing/ops-man-api.html) topic to target and authenticate with the Ops Manager User Account and Authentication (UAA) server. Record your Ops Manager access token, and use it for `YOUR-UAA-ACCESS-TOKEN` in the steps below.
  <p class="note"><strong>Note:</strong> When you record your Ops Manager access token, remove any newline characters such as <code>\n</code>.</p>

1.  To retrieve the Ops Manager certificates, use `curl` to call the `/deployed/certificates` endpoint of the Ops Manager API:

    ```
    curl "https://OPS-MAN-FQDN/api/v0/deployed/certificates" \
          -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN"
    ```
    Where:
    * `OPS-MAN-FQDN` is the URL of your Ops Manager.
    * `YOUR-UAA-ACCESS-TOKEN` is the <code>access\_token</code> value you recorded in the previous step:
    
    More options:<br />
    <ul><li>
    To limit command output to certificates that expire within a given time interval, append `?expires_within=TIME` to the endpoint, replacing `TIME` with an integer-letter code.<br />
            <ul><li>
            Valid letter codes are `d` for days, `w` for weeks, `m` for months, and `y` for years.
            </li><li>
            For example, querying to `https://OPS-MAN-FQDN/api/v0/deployed/certificates?expires_within=6m` searches for certificates expiring within six months.
            </li></ul>
     </li><li>
     To make the JSON output more readable, you can pipe your `curl` command to [jq](https://stedolan.github.io/jq/) or another text editor with JSON formatting.
     </li></ul>

1. The `deployed/certificates` output lists all CAs and leaf certificates visible to the Ops Manager API, whether they are by Ops Manager directly, or in CredHub at Ops Manager request.
For each certificate listed, determine its expiration date and type.
  1. Determine the expiration date from the `valid_until` value.
  For example, the root CA listed below expires on August 12, 2020:
    <pre class='terminal'>
    {
      "configurable": true,
      "is\_ca": true,
      "property\_reference": ".properties.root\_ca.fb10484dd5541a273c9d",
      "property\_type": "rsa\_cert\_credentials",
      "product\_guid": "ops\_manager",
      "location": "ops\_manager",
      "variable\_path": null,
      "issuer": "/CN=ToolsmithsCA",
      "valid\_from": "2019-08-13T15:30:22Z",
      "valid\_until": "2020-08-12T15:30:22Z"
    },
    </pre>
  2. For any certificates expiring soon, use the following rules to identify their types:
      * **Non-Rotatable Certificates**: Non-Rotatable certificates have the following property value:
          * `variable_path` is `/opsmgr/bosh_dns/tls_ca`
      * **Non-Configurable Certificates**: Non-Configurable leaf certificates have the following property values:
          * `variable_path` is not `/opsmgr/bosh_dns/tls_ca`
          * `configurable` is `false`
          * `location` is either `ops_manager` or `credhub`
          * `is_ca` is `false`
      * **Configurable Certificates**: Configurable leaf certificates have the following property values:
          * `configurable` is `true`
          * `is_ca` is `false`
      * **Ops Manager Root CA and matching BOSH NATS CA**: CAs have the following property values:
          * `is_ca` is `true`
          * `location` is `ops_manager`

1. Continue to [Rotate Certificates](#rotate) with your list of certificate types that expire soon.

### <a id='rotate'></a> Rotate Certificates

This section includes procedures for rotating CAs and leaf certificates. There are different rotation procedures for each type of certificate that requires rotation.

You can determine which rotation procedure to follow based on the types of certificates in your foundation that must be rotated.  For more information about identifying the types of certificates in your foundation that expire soon, see [Check Expiration Dates and Certificate Types](#checks).

To rotate certificates, do one of the following procedures:

* To rotate non-rotatable certificates, call [Pivotal Support](http://support.pivotal.io).

* To rotate the Ops Manager root CA, follow the [Rotate the Root CA and Leaf Certificates](#rotate-ca) procedure. This procedure automatically rotates all non-configurable leaf certificates and the BOSH NATS CA. You can also optionally rotate configurable leaf certificates as part of this procedure.

* To rotate non-configurable leaf certificates, but not the Ops Manager root CA or BOSH NATS CA, follow the [Rotate Non-Configurable Leaf Certificates](#regenerate) procedure.

* To rotate configurable leaf certificates, but not the Ops Manager root CA or BOSH NATS CA, follow the [Rotate Configurable Leaf Certificates](#rotate-config) procedure.


#### <a id='rotate-ca'></a> Rotate the Root CA and Leaf Certificates

This procedure uses the Ops Manager API to rotate the Ops Manager root CA, BOSH NATS CA, and non-configurable leaf certificates. Rotating the Ops Manager root CA automatically rotates the BOSH NATS CA and all non-configurable leaf certificates.

To prevent system downtime, this procedure includes two BOSH deploys. The first BOSH deploy applies new certificates to <%= vars.product_name %> components. The second BOSH deploy deletes the old certificates.

<p class="note warning"><strong>Warning:</strong> You must complete these steps in the exact order specified. Otherwise, you may damage your deployment.</p>

To rotate the Ops Manager root CA and leaf certificates, do the following:

1. Add a new root CA. See [Add a New Root CA](#add-new-ca).

1. Activate the root CA. [Activate the Root CA](#activate-new-ca).

1. (Optional) Rotate leaf configurable certificates. See [Rotate Configurable Leaf Certificates](#rotate-config-after-new-root).

1. Rotate non-configurable leaf certificates. See [Rotate Non-Configurable Leaf Certificates from the New Root](#regenerate-from-new-root).

1. (Optional) Delete the old CA. See [Delete the Old CA](#delete).


<a id='add-new-ca'></a> <b>Step 1: Add a New Root CA</b>

Follow this procedure to add a new root CA for Ops Manager. The new root CA can be a Pivotal-generated CA or your own custom CA.

This procedure also automatically regenerates the BOSH NATS CA.

To add a new root CA for Ops Manager and regenerate the BOSH NATS CA, do the following:

1. If you haven't already, perform the steps in the [Using Ops Manager API](../../customizing/ops-man-api.html) topic to target and authenticate with the Ops Manager User Account and Authentication (UAA) server. Record your Ops Manager access token, and use it for `YOUR-UAA-ACCESS-TOKEN` in the following steps.
  <p class="note"><strong>Note:</strong> When you record your Ops Manager access token, remove any newline characters such as <code>\n</code>.</p>

1. Use Ops Manager to generate a new CA, or else add your own custom CA:
  <p class ="note"><b>Note:</b> Elliptic Curve Digital Signature Algorithm (ECDSA) certificates are not supported in <%= vars.product_name %>.</p>
  * **To use your own custom CA**, call the Ops Manager API `certificate_authorities` endpoint as follows:
    <pre>
      curl "http<span>s:</span>//OPS-MAN-FQDN/api/v0/certificate\_authorities" \
          -X POST \
          -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN" \
          -H "Content-Type: application/json" \
          -d '{"cert\_pem": "-----BEGIN CERTIFICATE-----\YOUR-CERTIFICATE", "private\_key\_pem": "-----BEGIN RSA PRIVATE KEY-----\YOUR-KEY"}'
    </pre>
    Where:
    <ul><li>`YOUR-CERTIFICATE` is your custom CA.</li>
      <li>`YOUR-KEY` is your RSA key.</li>
      <li>`YOUR-UAA-ACCESS-TOKEN` is your UAA access token.</li></ul><p>If the command succeeds, the API returns a response that includes the new CA certificate:</p>
    <pre class="terminal">
      HTTP/1.1 200 OK
      {
        "certificate\_authorities": [
          {
            "guid": "f7bc18f34f2a7a9403c3",
            "issuer": "YOUR-CA",
            "created\_on": "2017-01-09",
            "expires\_on": "2021-01-09",
            "active": true,
            "cert\_pem": "-----BEGIN CERTIFICATE-----\nMIIC+zCCAeOgAwIBAgI....etc"
          }
        ]
      }
    </pre>
  * **To use a Pivotal-generated CA**, call the Ops Manager API `generate` endpoint as follows:
    <pre>
      curl "http<span>s</span>://OPS-MAN-FQDN/api/v0/certificate\_authorities/generate" \
            -X POST \
            -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN" \
            -H "Content-Type: application/json" \
            -d '{}'
    </pre>
      Where `YOUR-UAA-ACCESS-TOKEN` is your UAA access token.
    </br>
    </br>
      If the command succeeds, the API returns a response that includes the new CA certificate:
    <pre class="terminal">
          HTTP/1.1 200 OK
      {
          "guid": "f7bc18f34f2a7a9403c3",
          "issuer": "Pivotal",
          "created\_on": "2017-01-19",
          "expires\_on": "2021-01-19",
          "active": false,
          "cert\_pem": "-----BEGIN EXAMPLE CERTIFICATE-----
          MIIC+zCCAeOgAwIBAgIBADANBgkqhkiG9w0BAQsFADAfMQswCQYDVQQGEwJVUzEQ
          EXAMPLEoCgwHUGl2b3RhbDAeFw0xNDarthgyMTQyMjVaFw0yMTAxMTkyMTQyMjVa
          EXAMPLEoBgNVBAYTAlVTMRAwDgYDVVaderdQaXZvdGFsMIIBIjANBgkqhkiG9w0B
          EXAMPLEoAQ8AMIIBCgKCAQEAyV4OhPIIZTEym9OcdcNVip9Ev0ijPPLo9WPLUMzT
          EXAMPLEo/TgD+DP09mwVXfqwBlJmoj9DqRED1x/6bc0Ki/BAFo/P4MmOKm3QnDCt
          EXAMPLEooqgA++2HYrNTKWJ5fsXmERs8lK9AXXT7RKXhktyWWU3oNGf7zo0e3YKp
          EXAMPLEoh1NwIbNcGT1AurIDsxyOZy1HVzBLTisMyDogJmSCLsOw3qUDQjatjXKw
          EXAMPLEojG3nv2hvD4/aTOiHuKM3+AGbnaS2MdIOvFOh/7Y79tUp89csK0gs6uOd
          EXAMPLEohe4DcKw5CzUTfHKNXgHyeoVOBPcVQTp4lJp1iQIDAQABo0IwQDAdBgNV
          EXAMPLEoyH4y7VEuImLStXM0CKR8uVqxX/gwDwYDVR0TAQH/BAUwAwEB/zAOBgNV
          EXAMPLEoBAMCAQYwDQYJKoZIhvcNAQELBQADggEBALmHOPxdyBGnuR0HgR9V4TwJ
          EXAMPLEoGLKVT7am5z6G2Oq5cwACFHWAFfrPG4W9Jm577QtewiY/Rad/PbkY0YSY
          EXAMPLEokrfNjxjxI0H2sr7qLBFjJ0wBZHhVmDsO6A9PkfAPu4eJvqRMuL/xGmSQ
          EXAMPLEoCynMNz7FgHyFbd9D9X5YW8fWGSeVBPPikcONdRvjw9aEeAtbGEh8eZCP
          EXAMPLEob33RuR+CTNqThXY9k8d7/7ba4KVdd4gP8ynFgwvnDQOjcJZ6Go5QY5HA
          EXAMPLEoPFW8pAYcvWrXKR0rE8fL5o9qgTyjmO+5yyyvWIYrKPqqIUIvMCdNr84=
            -----END EXAMPLE CERTIFICATE-----
            "
    </pre>
1. Confirm that your new CA has been added by listing all of the root CAs for Ops Manager:
  <pre>
  curl "http<span>s:</span>//OPS-MAN-FQDN/api/v0/certificate\_authorities" \
        -X GET \
        -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN"
  </pre>
  The API call returns the GUID of the newly added CA. For example:
  <pre class="terminal">
    HTTP/1.1 200 OK
    {
      "certificate\_authorities": [
        {
          "guid": "f7bc18f34f2a7a9403c3",
          "issuer": "Pivotal",
          "created\_on": "2017-01-09",
          "expires\_on": "2021-01-09",
          "active": true,
          "cert\_pem": "-----BEGIN CERTIFICATE-----\nMIIC+zCCAeOgAwIBAgI....etc"
        }
        {
          "guid": "a8ee01e33e3e3e3303e3",
          "issuer": "Pivotal",
          "created\_on": "2017-04-09",
          "expires\_on": "2021-04-09",
          "active": false,
          "cert\_pem": "-----BEGIN CERTIFICATE-----\zBBBC+eAAAe1gAwAAAeZ....etc"
        }
      ]
    }
  </pre>
  Identify your newly added CA, which has `active` set to `false`. Record its GUID.

1. Navigate to `https://OPS-MAN-FQDN` in a browser and log in to Ops Manager.

1. Click the **BOSH Director** tile in the **Installation Dashboard**.

1. Select the **Director Config** pane.

1. Select **Recreate All VMs**. This propagates the new CA to all VMs to prevent downtime.

1. Go back to the Installation Dashboard. For each service tile you have installed, do the following:

    1. Click the tile.

    1. Click the **Errands** tab.

    1. Enable the **Recreate All Service Instances** errand if provided. If you do not see this errand, contact [Pivotal Support](https://pivotal.io/support).

1. Click **Review Pending Changes**, then **Apply Changes**. When the deploy finishes, continue to the next section.

<a id='activate-new-ca'></a> <b>Step 2: Activate the Root CA</b>

To activate the new root CA, do the following:

1. Use `curl` to make an Ops Manager API call that activates the new CA:
  <pre>curl "http<span>s</span>://OPS-MAN-FQDN/api/v0/certificate\_authorities/CERT-GUID/activate" \
      -X POST \
      -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN" \
      -H "Content-Type: application/json" \
      -d '{}'
  </pre>
  Where `CERT-GUID` is the GUID of your CA that you retrieved in the previous section.
  </br>
  </br>
  The API returns a successful response:
  <pre class="terminal">HTTP/1.1 200 OK</pre>

1. List your root CAs again to confirm that the new CA is active:
<pre>
  curl "http<span>s:</span>//OPS-MAN-FQDN/api/v0/certificate\_authorities" \
        -X GET \
        -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN"
  </pre>
  Examine the response to ensure that your new CA has `active` set to `true`.

<a id='rotate-config-after-new-root'></a> <b>(Optional) Step 3: Rotate Configurable Leaf Certificates</b>

If there are any configurable certificates in your foundation expiring soon, Pivotal recommends rotating them now. Rotating configurable leaf certificates now ensures that your next BOSH deploy includes both new configurable and non-configurable leaf certificates.

To rotate configurable leaf certificates, do the following for each configurable certificate that expires soon:

1. Find the text field where the certificate is configured within the Ops Manager interface. You might have to look through multiple configuration panes to identify the location of the certificate configuration text field. Use the following fields to identify the location of the certificate configuration text field:
    * The `product_guid` field in the API output can help identify in which tile the certificate is configured. For example, the prefix `p-bosh-` refers to the BOSH Director tile, and the prefix `cf-` refers to the PAS tile.
    * The `property_reference` field in the API output can help identify in which **Settings** pane the certificate is configured. For example, the `uaa.service_provider_key_credentials` property is configured in the PAS tile > **UAA** pane.
2. Paste a new value for the certificate into the text field.
3. Click **Save** at the bottom of each pane in which you added new certificates.


<a id='regenerate-from-new-root'></a> <b>Step 4: Rotate Non-Configurable Leaf Certificates from the New Root</b>

After activating the new root CA, you must rotate non-configurable leaf certificates from the root CA.

To rotate non-configurable leaf certificates from the new root CA, do the following:

1. Use `curl` to make an API call to regenerate all non-configurable certificates and apply the new CA to your existing BOSH Director:
<pre>
  curl "http<span>s</span>://OPS-MAN-FQDN/api/v0/certificate\_authorities/active/regenerate" \
        -X POST \
        -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN" \
        -H "Content-Type: application/json" \
        -d '{}'
</pre>
The API returns a successful response:
<pre class="terminal">HTTP/1.1 200 OK</pre>

1. Click the **BOSH Director** tile in the **Installation Dashboard**.

1. Select the **Director Config** pane.

1. Select **Recreate All VMs**. This propagates the new CA to all VMs to prevent downtime.

1. Go back to the Installation Dashboard. For each service tile you have installed, do the following:

    1. Click the tile.

    1. Click the **Errands** tab.

    1. Enable the **Recreate All Service Instances** errand if provided. If you do not see this errand, contact [Pivotal Support](https://pivotal.io/support).

1. Navigate to Ops Manager, click **Review Pending Changes**, and click **Apply Changes** to perform a second redeploy.

<a id='delete'></a> <b>(Optional) Step 5: Delete the Old CA</b>

After activating a new root CA and rotating leaf certificates from the new root CA, Pivotal recommends deleting the old root CA from your foundation.

<p class="note warning"><strong>Warning:</strong> Include the <strong>Review Pending Changes</strong> and <strong>Apply Changes</strong> from <a href="#regenerate-from-new-root">Step 4: Rotate Non-Configurable Leaf Certificates from the New Root</a> before you delete the old CA.</p>

To delete the old root CA, do the following:

1. List your root CAs to retrieve the GUID of your old, inactive CA:
<pre>
  curl "http<span>s:</span>//OPS-MAN-FQDN/api/v0/certificate\_authorities" \
        -X GET \
        -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN"
</pre>

1. Use `curl` to make an API call to delete your old CA:
<pre>
  curl "http<span>s</span>://OPS-MAN-FQDN/api/v0/certificate\_authorities/OLD-CERT-GUID" \
        -X DELETE \
        -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN"
</pre>
Where `OLD-CERT-GUID` is the GUID of your old, inactive CA.
</br>
</br>
The API returns a successful response.
<pre class="terminal">HTTP/1.1 200 OK</pre>

1. Navigate to Ops Manager, click **Review Pending Changes**, and click **Apply Changes**.


#### <a id='regenerate'></a> Rotate Non-Configurable Leaf Certificates

This procedure rotates non-configurable leaf certificates visible to the Ops Manager API, whether they are managed and stored by Ops Manager directly, or by CredHub at Ops Manager request.

<p class='note warning'><b>Warning:</b> This procedure does not rotate the Ops Manager root CA. To rotate both the root CA and non-configurable leaf certificates, see <a href="#rotate-ca">Rotate the Root CA and Leaf Certificates</a>.</p>

To rotate non-configurable leaf certificates, do the following:

1. Use `curl` to make an API call to regenerate all non-configurable certificates and apply the new CA to your existing BOSH Director:
<pre>
  curl "http<span>s</span>://OPS-MAN-FQDN/api/v0/certificate\_authorities/active/regenerate" \
        -X POST \
        -H "Authorization: Bearer YOUR-UAA-ACCESS-TOKEN" \
        -H "Content-Type: application/json" \
        -d '{}'
</pre>
The API returns a successful response:
<pre class="terminal">HTTP/1.1 200 OK</pre>

1. Navigate to Ops Manager, click **Review Pending Changes**, and click **Apply Changes** to perform a second redeploy.


#### <a id='rotate-config'></a> Rotate Configurable Leaf Certificates

Configurable certificates are generated by the user and pasted into Ops Manager configuration panes where needed. Examples include certificates that terminate SSL traffic into PAS, or authenticate a Single Sign-On (SSO) service plan to an external SAML server.

For instructions on how to rotate SAML certificates for both PAS and the SSO service, see [Rotate Identity Provider SAML Certificates](#rotate-saml-ca).

<p class="note warning"><b>Warning:</b> This procedure does not rotate the Ops Manager root CA. To rotate both the root CA and non-configurable leaf certificates, see <a href="#rotate-ca">Rotate the Root CA and Leaf Certificates</a>.</p>

To rotate configurable leaf certificates, do the following:

1. If you haven't already, use the Ops Manager API `deployed/certificates` endpoint to retrieve information about your expiring configurable certificates, as described in the procedures [Check Expiration Dates and Certificate Types](#checks).
The information for each configurable certificate looks like this:
  <pre class="terminal">
    {
      "configurable": true,
      "property\_reference": ".properties.networking\_poe\_ssl\_certs[0].certificate",
      "property\_type": "rsa_cert_credentials",
      "product\_guid": "cf-36066831c119c39736d3",
      ...
      "valid\_until": "2019-01-25T22:07:58Z"
    },
  </pre>

1. For each configurable certificate that expires soon:
  1. Find the text field the certificate is configured within the Ops Manager interface.
      * The `product_guid` field in the API output can help identify which tile the certificate is configured in. For example, the prefix `p-bosh-` refers to the BOSH Director tile, and the prefix `cf-` refers to the PAS tile.
      * The `property_reference` field in the API output can often help identify which **Settings** pane the certificate is configured in. For example, the `uaa.service_provider_key_credentials` property is configured in the PAS tile > **UAA** pane.
      * You might have to look through multiple configuration panes to identify where a certificate is configured.
  2. Paste a new value for the certificate into the field
  3. Click **Save** at the bottom of each pane in which you have provided new certificates.

1. If you are rotating configurable certificates within the [Rotate Root and Leaf Certificates](#rotate-ca) procedure, continue to the next step. Otherwise, if you are rotating configurable leaf certificates only, return to the **Installation Dashboard**, click **Review Pending Changes**, and click **Apply Changes**.

#### <a id='rotate-saml-ca'></a> Rotate Identity Provider SAML Certificates

SAML service provider credentials are one example of configurable certificates in <%= vars.product_name %>. When PAS is configured to use SAML as an identity provider, it uses a configurable CA certificate to authenticate to an external SAML server, by generating ephemeral certificates that PAS includes in its outbound request message headers. This CA has a two-year expiration period.

In addition, the [SSO](https://docs.pivotal.io/p-identity/index.html) service shares the use of PAS SAML certificates for every SAML external Identity Provider (IdP) integration, such as trust,  partnership, or Federation. You must rotate these in lockstep with PAS.

The following procedure provides an example of how to rotate certificates for each IdP, including temporarily disabling certificate validation on the IdP side during the rotation.

The Knowledge Base article [<%= vars.product_name %> Advisory - SAML Service Provider Credential Certificates Expire after 2 Years](https://community.pivotal.io/s/article/PCF-Advisory---SAML-Service-Provider-Credential-Certificates-Expire-after-2-Years) provides more information about rotating SAML certificates.

SAML service provider credentials are only required for your PAS deployment if all of these conditions are met:

* You are using SSO in production for login to PAS or using the SSO service for login to apps.
* You are using SAML identity providers for PAS or SSO service plans.
* You had Ops Manager generate a certificate for you by clicking the **Generate RSA Certificate** button.
* You are validating the signature of SAML authentication request with your identity provider.

To regenerate and rotate SAML service provider certificates without disrupting PAS or your apps using the SSO service, do the following:

1. Disable certificate validation in your identity provider.

1. For PAS, follow the procedure in the table below that corresponds to your use case. This includes downloading and importing a new certificate and updated SAML metadata in your identity provider.
  <table border="1">
  <tr>
    <th>Solution Name</th>
    <th>Procedure</th>
  </tr>
  <tr>
    <td><a href='http://www.ca.com/us/securecenter/ca-single-sign-on.aspx'>CA Single Sign-On aka CA SiteMinder</a></td>
    <td><a href="../../opsguide/ca-sso-config.html">Configuring CA as an Identity Provider</a></td>
  </tr>
  <tr>
    <td><a href='https://www.pingidentity.com/en/products/pingfederate.html'>PingFederate</a></td>
    <td><a href="../../opsguide/ping-federate-sso-configuration.html">Configuring PingFederate as an Identity Provider</a></td>
  </tr>
  <tr>
    <td><a href='https://technet.microsoft.com/en-us/windowsserver/dd448613.aspx'>Active Directory Federation Services</a></td>
    <td><a href="../../opsguide/adfs-sso-configuration.html">Configuring ADFS as an Identity Provider</a></td>
  </tr>
</table>

1. For the SSO service, follow the procedure in the table below that corresponds to your use case. This includes downloading the SAML Service Provider metadata for each SAML identity provider integration, such as trust, partnership, or Federation, and importing the updated SAML Service Provider metadata in your identity provider.
  <table border="1">
  <tr>
    <th>Solution Name</th>
    <th>Procedure</th>
  </tr>
  <tr>
    <td>ADFS</td>
    <td><a href="https://docs.pivotal.io/p-identity/adfs/config-sso.html">Configuring a Single Sign-On Service Provider</a></td>
  </tr>
  <tr>
    <td>CA SSO</td>
    <td><a href="https://docs.pivotal.io/p-identity/ca-sso/config-sso.html">Configuring a Single Sign-On Service Provider</a></td>
  </tr>
  <tr>
    <td>Okta</td>
    <td><a href="https://docs.pivotal.io/p-identity/okta/config-sso.html">Configure Okta as an Identity Provider</a></td>
  </tr>
  <tr>
    <td>PingFederate</td>
    <td><a href="https://docs.pivotal.io/p-identity/pingfederate/config-sso.html">Configure PingFederate as an Identity Provider</a></td>
  </tr>
  <tr>
    <td>Additional Documentation</td>
    <td><a href="https://docs.pivotal.io/p-identity/index.html#guides">Integration Guides</a></td>
  </tr>
  </table>

1. Re-enable certificate validation in your identity provider.
