---
title: Custom Certificate Authorities
owner: OpsMan
---

This topic provides an overview of using custom certificate authorities (CAs) in a <%= vars.product_name  %> deployment.


## <a id='overview'></a>Overview

To secure traffic in your <%= vars.platform_name %> deployment, you must provide a CA to issue digital certificates. This can be either a Pivotal-generated or custom CA. When you add and activate a new CA, a digital certificate is issued to BOSH Director. BOSH Director then passes the certificate to other components in your <%= vars.platform_name %> deployment.

<%= vars.recommended_by %> recommends you supply a CA from a trusted provider when using a production environment. While you can create your own custom CAs if necessary, a trusted CA is more secure because it has been authenticated by the trusted entities permitted to issue them.

<p class ="note"><strong>Note:</strong> Elliptic Curve Digital Signature Algorithm (ECDSA) certificates are not supported in <%= vars.platform_name %>.</p>


## <a id='add-custom-ca'></a> Add a Custom CA

You can add a new custom CA as part of the procedure for rotating CAs and other certificate types in <%= vars.platform_name %>.
To add and activate a new custom CA in <%= vars.platform_name %>,
see [Rotate CAs and Leaf Certificates](./api-cert-rotation.html#rotate-ca) in _Rotating Certificates_.
