---
title: Disk Encryption
owner: Security
---

This topic describes how to secure <%= vars.platform_name %> VMs by encrypting their disks or rotating their disk encryption keys.


## <a id='overview'></a> Overview

Disk encryption protects data integrity if computing resources are stolen physically.

Disk encryption for VMs works at the IaaS level. An IaaS encrypts disks when it first creates them, or re-encrypts them when it rotates encryption keys. To encrypt disks in <%= vars.platform_name %>, you must:

1. Configure the IaaS to encrypt disks when it creates or re-creates them.

1. Trigger BOSH to re-create the existing VMs that use the disks, and create encrypted disks from now on for new VMs.

The procedures below describe how to do this for each IaaS.

### <a id='disks'></a> Disks You Can Encrypt on a <%= vars.platform_name %> VM

The disks you can encrypt on a <%= vars.platform_name %> VM are:

* The root file system for the VM. For BOSH-created VMs, this comes from the stemcell.

* Ephemeral disk for the VM.

* Persistent disk for the VM.

### <a id='scopes'></a> Which VMs Each Procedure Encrypts

For each IaaS, there are two disk encryption procedures, which encrypt different VMs:

* The **BOSH Director** procedure encrypts the disks used by the BOSH Director VM when you first create a <%= vars.platform_name %> environment.

* The **BOSH-deployed VM** procedure encrypts disks for the VMs that the BOSH Director creates, after BOSH has been deployed.


## <a id='encrypt-rotate'></a> Encrypt Disks or Rotate Keys

You can use the same procedure to either encrypt disks for the first time or rotate encryption keys.

For BOSH-deployed VMs, some IaaSes let you associate a policy with the BOSH process that automatically encrypts all disks BOSH creates. On AWS, BOSH must explicitly tell the IaaS to encrypt each disk that it creates, and passes in an encryption key. The table below summarizes these differences:

| IaaS | How configured | How encrypted | User can supply key | BOSH stores key ID |
| ---- | -------------- | ------------- | ------------------- | ------------------ |
| AWS | User pastes key Amazon Resource Name (ARN) into <%= vars.ops_manager_full %> | BOSH tells IaaS to encrypt disks it creates | Yes | Yes |
| Azure (with managed disks) | User configures IaaS to associate encrypt policy with BOSH | IaaS automatically encrypts disks it creates for BOSH | No | No |
| Azure (with Azure Storage) | User configures IaaS to associate encrypt policy with BOSH | IaaS automatically encrypts disks it creates for BOSH | Yes | No |
| vSphere | User configures IaaS to associate encrypt policy with BOSH | IaaS automatically encrypts disks it creates for BOSH | Yes | No |

### <a id='azure'></a> Azure

Azure provides virtual disk space through Azure Storage accounts. In some regions, Azure offers a managed disks service for storage accounts, which allocates disk space flexibly on demand.

For more information about Azure Storage, see [Introduction to Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-introduction) in the Microsoft Azure documentation. For more information about managed disks, see [Introduction to Azure managed disks](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview) in the Microsoft Azure documentation.

#### <a id='azure-sa-vs-md'></a> Managed Disks versus Unmanaged Storage Accounts

For disk encryption, <%= vars.recommended_by %> recommends managed disk storage where available. With managed disks, encryption keys are managed by the IaaS, so you do not supply your own keys. You also do not need to re-create VMs after encrypting disks or rotating encryption keys, because the IaaS propagates the change to all VMs automatically.

#### <a id='azure-vms'></a> Encrypt Azure Disks

To initiate or rotate disk encryption for BOSH-deployed VMs on Azure:

1. Log in to Azure Portal.

1. Encrypt new and existing <%= vars.platform_name %> VMs by following the procedure in [Azure Disk Encryption for virtual machines and virtual machine scale sets](https://docs.microsoft.com/en-us/azure/security/fundamentals/azure-disk-encryption-vms-vmss) in the Microsoft Azure documentation.

1. For unmanaged Storage Account disks, see [Recreate BOSH-Deployed Disks](#recreate) to propagate the change to existing VMs. If you are using managed disks, you can skip this step.

For more information about how BOSH integrates with IaaS-level disk encryption on Azure, see [Encryption](https://bosh.io/docs/azure/#encryption) in _Microsoft Azure_ in the BOSH documentation.

### <a id='vsphere'></a> vSphere

vSphere v6.5 and later support disk encryption for encrypted VMs. To initiate or rotate disk encryption for BOSH-deployed VMs on vSphere v6.5 or later:

1. Log in to vCenter.

1. Follow the procedure in [Encrypt an Existing Virtual Machine or Virtual Disk](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-5E2C3F74-38C1-44C3-ABC5-C2C9353B9DC4.html) in the VMware documentation.

1. Follow the procedure in [Recreate BOSH-Deployed Disks](#re-create) procedure to propagate the change to existing VMs.

For more information about how BOSH integrates with IaaS-level disk encryption on vSphere, see [Encryption](https://bosh.io/docs/vsphere/#encryption) in _vSphere_ in the BOSH documentation.

### <a id='aws'></a> AWS

On AWS in <%= vars.ops_manager %> v2.0 and later, you can either use your Amazon account key to encrypt Linux EBS volumes or supply your own key.

To encrypt BOSH-deployed VMs and the <%= vars.ops_manager %> VM on AWS, see [Configuring Amazon EBS Encryption](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing//cloudform-om-ebs-config.html).

For more information about how BOSH integrates with IaaS-level disk encryption on AWS, see [Encryption](https://bosh.io/docs/aws/#encryption) in _Amazon Web Services_ in the BOSH documentation.

### <a id='recreate'></a> Recreate BOSH-Deployed Disks

Unless you are using Azure managed disks, you must manually recreate disks on BOSH-deployed VMs after you have added or rotated disk encryption keys. To manually recreate disks:

1. Configure <%= vars.ops_manager %> to encrypt VM root, ephemeral disk, and persistent disk on next deploy:
	* **Root File System:** To recreate the root file system for VMs, you must upload a new stemcell. If you are already running the latest stemcell, you can:
    	* Wait until a new stemcell comes out. This typically takes less than two weeks.
    	* If propagating disk encryption is urgent, contact [Pivotal Support](https://support.pivotal.io).
	* **Ephemeral Disks:** In the **Director Config** pane of the <%= vars.ops_manager %> tile, enable the **Recreate All VMs** checkbox.
	* **Persistent Disks**
    	* <%= vars.platform_code_pivotal %> v2.3 and later: In the **Director Config** pane of the <%= vars.ops_manager %> tile, enable the **Recreate All Persistent Disks** checkbox.
    	* <%= vars.platform_code_pivotal %> v2.2 and earlier: In the **Resource Config** pane of all tiles, change the disk or VM sizes of all VMs that you need to encrypt.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.
