---
title: Pivotal Platform Infrastructure Security
owner: Security
---

<% current_page.data.title = vars.product_name + " Infrastructure Security"  %>

This section provides links to topics about security infrastructure in 
<%= vars.product_name  %>.


* <a href="/platform/security/pcf-infrastructure/stemcell-index.html">Stemcell Security</a>: Details how Pivotal tests and updates its stemcells, which supply the base versioned operating system for all <%= vars.product_name %> products.

* <a href="/platform/security/pcf-infrastructure/certificates-index.html">Certificates and TLS in <%= vars.product_name %></a>: 
Provides information on how to manage the certificates that enable TLS communications in <%= vars.product_name %>.

* <a href="/platform/security/pcf-infrastructure/disk-encrypt.html">Disk Encryption</a>: 
Describes how to encrypt disks or rotate disk encryption keys in a <%= vars.product_name %> deployment.

* <a href="/platform/loggregator/cc-uaa-logging.html">Security Event Logging</a>: 
Provides a reference of security-related events logged by the Cloud Controller, CredHub, and UAA components in <%= vars.product_name %>.




