---
title: CredHub Maestro Tile Compatibility
owner: CredHub Maestro
---

This table describes which <%= vars.platform_name %> tiles are compatible or not compatible with CredHub Maestro. A tile that is compatible with CredHub Maestro has certificates that you can rotate using CredHub Maestro. 

All VMware Tanzu Partner tiles are considered compatible with CredHub Maestro.

For more information about CredHub Maestro, see [Getting Started with CredHub Maestro](getting-started-with-maestro-cli.html) and [Advanced Certificate Rotation with CredHub Maestro](advanced-certificate-rotation.html).

<p class="note"><strong>Note:</strong> If you see out-of-date or incorrect information on this page,
 please contact the CredHub team or log a GitHub issue.</p>

<table border="1">
  <tr>
    <th>Product Name</th>
    <th>Product Slug</th>
    <th>Minimum Required Version</th>
    <th>Compatible</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td><%= vars.k8s_runtime_full %></td>
    <td>pivotal-container-service</td>
    <td><em>n/a</em></td>
    <td>No</td>
    <td>In a multi-tile <%= vars.platform_name %> deployment that includes <%= vars.k8s_runtime_abbr %>, you cannot use CredHub Maestro to rotate certificates for <%= vars.k8s_runtime_abbr %>. However, you must use CredHub Maestro to rotate CredHub-managed certificates for all other tiles. For more information, see <a href="advanced-certificate-rotation.html#when-to-use">When to Use CredHub Maestro for Certificate Rotation</a> in <em>Advanced Certificate Rotation with CredHub Maestro</em>.</td>
  </tr>
  <tr>
    <td>File Integrity Monitoring</td>
    <td>p-fim</td>
    <td>2.0.0</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>IPsec</td>
    <td>ipsec</td>
    <td><em>n/a</em></td>
    <td>No</td>
    <td>IPsec uses its own rotation method. For more information, see <a href="https://docs.pivotal.io/addon-ipsec/1-9/credentials.html">Rotating Active IPsec Certificates</a> in the IPsec documentation.</td>
  </tr>
  <tr>
    <td>Metric Store (alpha)</td>
    <td>p-metric-store</td>
    <td>1.3.1</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Metrics Forwarder</td>
    <td>p-metrics-forwarder</td>
    <td>1.11.4-build.20</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>App Metrics</td>
    <td>apmPostgress</td>
    <td>1.6.2-build.1</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Monitoring Indicator Protocol</td>
    <td>p-monitoring-indicator-protocol</td>
    <td>1.0.0-beta4.1</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>MySQL for VMware Tanzu</td>
    <td>pivotal-mysql</td>
    <td>2.8</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Event Alerts</td>
    <td>p-event-alerts</td>
    <td>2.9.1-build.1</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Anti-Virus</td>
    <td>p-antivirus</td>
    <td>2.2.2</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Anti-Virus Mirror</td>
    <td>p-antivirus-mirror</td>
    <td>2.2.2</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>cf</td>
    <td>2.8.2-build.11</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td><%= vars.windows_runtime_full %></td>
    <td>pas-windows</td>
    <td>2.9.0-build.65</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>VMware Tanzu Gemfire</td>
    <td>p-cloudcache</td>
    <td>1.11</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Compliance Scanner</td>
    <td>p-compliance-scanner</td>
    <td>1.2.16</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Healthwatch</td>
    <td>p-healthwatch</td>
    <td>1.8.0-build.66</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td><%= vars.segment_runtime_full %></td>
    <td>p-isolation-segment</td>
    <td>2.8.2-build.8</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Push Notification</td>
    <td>p-push-notifications</td>
    <td>1.10.6-build.6</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Telemetry Collector</td>
    <td>pivotal-telemetry-om</td>
    <td><em>n/a</em></td>
    <td>No</td>
    <td></td>
  </tr>
  <tr>
    <td>RabbitMQ for VMware Tanzu [VMs]</td>
    <td>p-rabbitmq</td>
    <td>1.20</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Redis for VMware Tanzu</td>
    <td>p-redis</td>
    <td>2.4</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Reliability View Exporter for <%= vars.app_runtime_abbr %> (Beta)</td>
    <td>p-reliability-view-pas-exporter</td>
    <td>0.4.0-build.124</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Reliability View</td>
    <td>p-reliability-view</td>
    <td>0.4.0-build.124</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Reliability View Exporter for <%= vars.k8s_runtime_abbr %> (Beta)</td>
    <td>p-reliability-view-pks-exporter</td>
    <td>0.4.0-build.124</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Scheduler</td>
    <td>p-scheduler</td>
    <td>1.2.30-build.1</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Service Broker for AWS</td>
    <td>aws-services</td>
    <td>1.4.14</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Single Sign-On</td>
    <td>pivotal_single_sign-on_service</td>
    <td>1.11.0</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Small Footprint <%= vars.app_runtime_full %></td>
    <td>cf</td>
    <td>2.8.2-build.11</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Spring Cloud Data Flow for VMware Tanzu</td>
    <td>p-dataflow</td>
    <td>1.6.6</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Spring Cloud Services for VMware Tanzu</td>
    <td>p_spring-cloud-services</td>
    <td>3.1.5</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>Spring Cloud Gateway</td>
    <td>p_spring-cloud-gateway-service</td>
    <td>1.0.0</td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td>VMware NSX-T Container Plug-in</td>
    <td>VMware-NSX-T</td>
    <td>2.5.1</td>
    <td>Yes</td>
    <td></td>
  </tr>
</table>
