---
title: Rotating Non-Configurable Leaf Certificates
owner: Ops Manager
---

This topic describes how to rotate non-configurable leaf certificates for your <%= vars.ops_manager %> deployment. To rotate all certificates in your <%= vars.ops_manager %> deployment, see [Rotating Certificates](api-cert-rotation.html).


## <a id='overview'></a> Overview

This procedure rotates non-configurable leaf certificates visible to the <%= vars.ops_manager %> API, whether they are managed and stored by <%= vars.ops_manager %> directly, or by CredHub at <%= vars.ops_manager %> request.

<p class='note warning'><strong>Warning:</strong> This procedure does not rotate the <%= vars.ops_manager %> root certificate authority (CA) or other CAs in your deployment. To rotate CAs and leaf certificates, see <a href="api-cert-rotation.html#rotate-ca">Rotate CAs and Leaf Certificates</a> in <em>Rotating Certificates</em>.</p>

Before rotating non-configurable leaf certificates, you must:

* Ensure that you meet the prerequisites described in [Prerequisites](api-cert-rotation.html#prerequisite) in _Rotating Certificates_.

* Check which certificates in your deployment are non-configurable and when they are due to expire. For more information, see [Check Expiration Dates and Certificate Types](api-cert-rotation.html#checks) in _Rotating Certificates_.


## <a id='procedure'></a> Procedure

To rotate non-configurable leaf certificates:

1. Use `curl` to make an API call to regenerate all non-configurable certificates. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/certificate_authorities/active/regenerate" \
          -X POST \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
          -H "Content-Type: application/json" \
          -d '{}'
    ```
    Where:
    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is your UAA access token.
    </br>
    </br>
    The API returns a successful response:
    <pre class="terminal">HTTP/1.1 200 OK</pre>

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. If you have any on-demand service tiles installed, for each on-demand service tile:
    1. Click the tile.
    1. Click the **Errands** tab.
    1. Enable the **Upgrade All Service Instances** errand. Running this errand is necessary to push CredHub certificate updates to each service instance.
    1. Click **Review Pending Changes**.
    1. Click **Apply Changes**.

1. If you do not have any on-demand service tiles installed:
    1. Click **Review Pending Changes**.
    1. Click **Apply Changes**.
