---
title: Rotating Identity Provider SAML Certificates
owner: Ops Manager
---

This topic describes how to rotate SAML service provider (SP) credentials in <%= vars.platform_name %>.

## <a id="overview"></a>Overview

SAML SP credentials are one example of configurable certificates in <%= vars.app_runtime_abbr %>.
When <%= vars.app_runtime_abbr %> is configured to use SAML as an IDP, it uses a configurable certificate authority (CA) certificate to authenticate to an external SAML server.
The CA generates ephemeral certificates that <%= vars.app_runtime_abbr %> includes in its outbound request message headers.
This CA has a two-year expiration period.

In addition, the Single Sign-On for VMware Tanzu service shares the use of <%= vars.app_runtime_abbr %> SAML certificates for every SAML external IDP integration, such as trust, partnership, or federation.
You must rotate these in lockstep with <%= vars.app_runtime_abbr %>.
For more information about Single Sign-On for VMware Tanzu, see the [Single Sign-On for VMware Tanzu documentation](https://docs.pivotal.io/p-identity/index.html).

This topic provides an example of how to rotate certificates for each IDP, including temporarily disabling certificate validation on the IDP side during the rotation.

For more information about rotating SAML certificates, see [PCF Advisory - SAML Service Provider Credential Certificates Expire after 2 Years](https://community.pivotal.io/s/article/PCF-Advisory---SAML-Service-Provider-Credential-Certificates-Expire-after-2-Years) in the VMware Tanzu Knowledge Base.

## <a id="prerequisites"></a>Prerequisites

SAML SP credentials are only required for your <%= vars.app_runtime_abbr %> deployment if all of these conditions are met:

* You are using Single Sign-On for VMware Tanzu in production for login to <%= vars.app_runtime_abbr %> or using the Single Sign-On for VMware Tanzu service for login to apps.

* You are using SAML IDPs for <%= vars.app_runtime_abbr %> or Single Sign-On for VMware Tanzu service plans.

* You had <%= vars.ops_manager %> generate a certificate for you by clicking the **Generate RSA Certificate** button.

* You are validating the signature of SAML authentication request with your IDP.

## <a id="rotate-certs"></a>Rotate SAML Certificates

To regenerate and rotate SAML SP certificates without disrupting <%= vars.app_runtime_abbr %> or your apps using the Single Sign-On for VMware Tanzu service:

1. Disable certificate validation in your IDP.

1. For <%= vars.app_runtime_abbr %>, follow the procedure in the table below that corresponds to your use case.
This includes downloading and importing a new certificate and updated SAML metadata in your IDP.
  <table border="1">
  <tr>
    <th>Solution Name</th>
    <th>Procedure</th>
  </tr>
  <tr>
    <td><a href='https://www.ca.com/us/securecenter/ca-single-sign-on.aspx'>CA Single Sign-On aka CA SiteMinder</a></td>
    <td><a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/opsguide/ca-sso-config.html">Configuring CA as an Identity Provider</a></td>
  </tr>
  <tr>
    <td><a href='https://www.pingidentity.com/en/products/pingfederate.html'>PingFederate</a></td>
    <td><a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/opsguide/ping-federate-sso-configuration.html">Configuring PingFederate as an Identity Provider</a></td>
  </tr>
  <tr>
    <td><a href='https://technet.microsoft.com/en-us/windowsserver/dd448613.aspx'>Active Directory Federation Services (AD FS)</a></td>
    <td><a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/opsguide/adfs-sso-configuration.html">Configuring AD FS as an Identity Provider</a></td>
  </tr>
</table>

1. For the Single Sign-On for VMware Tanzu service, follow the procedure in the table below that corresponds to your use case.
This includes downloading the SAML SP metadata for each SAML IDP integration, such as trust, partnership, or federation, and importing the updated SAML SP metadata in your IDP.
  <table border="1">
  <tr>
    <th>Solution Name</th>
    <th>Procedure</th>
  </tr>
  <tr>
    <td>AD FS</td>
    <td><a href="https://docs.pivotal.io/p-identity/adfs/config-sso.html">Configuring a Single Sign-On for VMware Tanzu Service Provider</a></td>
  </tr>
  <tr>
    <td>CA Single Sign-On for VMware Tanzu</td>
    <td><a href="https://docs.pivotal.io/p-identity/ca-sso/config-sso.html">Configuring a Single Sign-On for VMware Tanzu Service Provider</a></td>
  </tr>
  <tr>
    <td>Okta</td>
    <td><a href="https://docs.pivotal.io/p-identity/okta/config-sso.html">Configure Okta as an Identity Provider</a></td>
  </tr>
  <tr>
    <td>PingFederate</td>
    <td><a href="https://docs.pivotal.io/p-identity/pingfederate/config-sso.html">Configure PingFederate as an Identity Provider</a></td>
  </tr>
  <tr>
    <td>Additional Documentation</td>
    <td><a href="https://docs.pivotal.io/p-identity/index.html#guides">Integration Guides</a></td>
  </tr>
  </table>

1. Re-enable certificate validation in your IDP.
