---
title: Rotating the Services TLS CA and Its Leaf Certificates
owner: Ops Manager
---

This topic describes the procedure for rotating the Services TLS CA and its leaf certificates. 

This procedure uses the CredHub Maestro CLI.

<p class="note warning"><strong>Warning:</strong> Upgrading your on-demand service instances is required in order to complete a rotation of the Services TLS CA. <%= vars.company_name %> recommends that you set up your services for high availability to minimize any service downtime.</p>

To rotate the Services TLS CA and its leaf certificates:

1. Before proceeding, check [CredHub Maestro Tile Compatibility](maestro-tile-compatibility.html) to ensure that all services versions currently deployed are compatible with Maestro.
    <p class="note warning"><strong>Warning:</strong> If you have any service tiles
       that are not compatible with CredHub Maestro do not follow this procedure.
       If you do, you might experience extended downtime or data loss.</p>

1. Regenerate the Services TLS CA.
    1. On the Services TLS CA, see if your Services TLS CA was CredHub-set by running:

        ```
        maestro list
        ```
        After running this command, you see one Services TLS CA listed per deployment, but it is the same certificate.
    1. If the Services TLS CA was CredHub-set, run:

        ```
        maestro regenerate ca --name "/services/tls_ca" --force
        ```
        
1. Mark the latest version of the Services TLS CA as transitional by running:

    ```
    maestro update-transitional latest --name "/services/tls_ca"
    ```

1. Redeploy:
    1. Return to the <%= vars.ops_manager %> Installation Dashboard.
    1. On the **Review Pending Changes** page, enable the **Select All Products** checkbox.
    1. For each service tile, enable the **Upgrade all service instances** errand.
       <p class='note'><strong>Note:</strong> The name of the <strong>Upgrade all service instances</strong> errand may be slightly different between services.</p>
    1. Click **Apply Changes**.

1. Rebind any apps that rely on services.

1. Restage any apps that rely on services.
    <p class='note'><strong>Note:</strong> The bg-restage plugin enables zero-downtime blue-green restaging without access to the app source code. For more information, see <a href="https://github.com/orange-cloudfoundry/cf-plugin-bg-restage">bg-restage</a> on GitHub.</p>

1. Mark the signing version of the Services TLS CA as transitional.
Depending on your <%= vars.app_runtime_abbr %> version, do one of the following:
    - If you are on <%= vars.app_runtime_abbr %> v2.9.3 or earlier, run:

        ```
        maestro topology --name /services/tls_ca
        ```

        Then, record the `certificate_id` and the `version_id` of the version with `signing: true` and run:

        ```
        credhub curl -p /api/v1/certificates/{certificate_id}/update_transitional_version -i -d '{"version": "{version_id}"}'
        ```
    - If you are on <%= vars.app_runtime_abbr %> v2.9.4 or later, run:

        ```
        maestro update-transitional signing --name "/services/tls_ca"
        ```

1. Regenerate all service instance certificates signed by the Services TLS CA by running:

    ```
    maestro regenerate leaf --signed-by "/services/tls_ca"
    ```

1. Redeploy:
    1. Return to the <%= vars.ops_manager %> Installation Dashboard.
    1. On the **Review Pending Changes** page, enable the **Select All Products** checkbox.
    1. For each service tile, enable the **Upgrade all service instances** errand.
    <p class='note'><strong>Note:</strong> The name of the <strong>Upgrade all service instances</strong> errand may be slightly different between services.</p>
    1. Click **Apply Changes**.

1. Rebind any apps that rely on services.

1. Restage any apps that rely on services.

1. Remove the transitional flag from the Services TLS CA. This removes the old, inactive version of the Services TLS CA on the next deployment. Run:

    ```
    maestro update-transitional remove --name "/services/tls_ca"
    ```

1. Redeploy:
    1. Return to the <%= vars.ops_manager %> Installation Dashboard.
    1. On the **Review Pending Changes** page, enable the **Select All Products** checkbox.
    1. For each service tile, enable the **Upgrade all service instances** errand.
    <p class='note'><strong>Note:</strong> The name of the <strong>Upgrade all service instances</strong> errand may be slightly different between services.</p>
    1. Click **Apply Changes**.

1. Rebind any apps that rely on services.

1. Restage any apps that rely on services.
