---
title: Security for Apps and Services
owner: Security
---

This topic links to topics that describe how <%= vars.product_name %> and <%= vars.product_name %> users manage security for apps and service instances.

* <a href="/platform/concepts/asg.html">Application Security Groups</a>: 
Describes how ASGs work and how to manage them in all versions of Cloud Foundry, including <%= vars.product_name %>. 

* <a href="/platform/opsguide/config-ssh.html">Configuring SSH Access for <%= vars.product_name %></a>: 
Explains how to configure <%= vars.product_name %> to allow SSH access to app instances, for debugging.

* <a href="/platform/opsguide/app-sec-groups.html">Restricting App Access to Internal <%= vars.product_name %> Components</a>: 
Details how to create Application Security Groups (ASGs), rules that allow internal outgoing communications 
from all apps in <%= vars.product_name %>, or the apps running in the same space.

* <a href="/platform/opsguide/notifications-asg.html">Configuring Application Security Groups for Email Notifications</a>: 
Describes how to define an ASG to enable app-generated notifications.

* <a href="/platform/devguide/deploy-apps/trusted-system-certificates.html">Trusted System Certificates</a>:
Explains where applications can find trusted system certificates.

* <a href="/platform/services/access-control.html">Managing Access to Service Plans</a>: Describes how to 
enable or disable access to service plans for a subset of users.

* <a href="/platform/devguide/services/application-binding.html">Delivering Service Credentials to an Application</a>: 
Provides documentation on how to bind apps to service instances, 
which generate the credentials that enable the apps to use the service.

* <a href="/platform/devguide/services/service-keys.html">Managing Service Keys</a>: 
Explains to create and manage service keys that enable apps to use service instances.
