---
title: Compliance and Other Security-Related Topics
owner: Security
---

This section contains topics related to compliance and securing <%= vars.platform_name %> deployments.


## <a id="compliance"></a> Compliance

* [NIST Controls and <%= vars.platform_name %>](https://docs.pivotal.io/nist/index.html): Provides a dedicated site that assesses <%= vars.platform_name %> against NIST SP 800-53(r4) Controls.

* [General Data Protection Regulation](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/opsguide/gdpr.html): Provides an overview of the General Data Protection Regulation (GDPR) and where <%= vars.platform_name %> may store personal data.


## <a id="other-security"></a> Other Security-Related Topics

* [Security-Related <%= vars.platform_name %> Tiles and Add-ons](../tiles/index.html): Provides links to other security-related services available for <%= vars.platform_name %> deployments.

* [Security Guidelines for Your IaaS Provider](security-guidelines-iaas.html): Provides links to security-related documentation related to different IaaS providers. The topics may come from third party providers, and are not necessarily owned or maintained by Pivotal. Pivotal provides them for your convenience, but cannot guarantee the accuracy or currency of these documents.
