---
title: Security Guidelines for Your IaaS Provider
owner: Security
---

This topic provides security guidelines for the Infrastructure as a Service (IaaS) providers supported by <%= vars.platform_name %>.


## <a id='overview'></a> Overview

<%= vars.platform_name %> supports a variety of IaaS providers. Different IaaS providers require different configuration steps to secure user data, identity information, and credentials.

Security requirements can vary broadly based on the unique configuration and infrastructure of each organization. Rather than provide specific guidance that may not apply to all use cases, <%= vars.company_name %> has collected links to IaaS providers' security and identity management documentation. The documents below may help you understand how your IaaS' security requirements impact your <%= vars.platform_name %> deployment.

<%= vars.company_name %> does not endorse these documents for accuracy or guarantee that their contents apply to all <%= vars.platform_name %> installations.

Find your IaaS provider in the list below. The documentation items linked for each IaaS may help you configure and secure your installation infrastructure.


## <a id='aws'></a> Amazon Web Services (AWS)

These topics in the AWS documentation provide a general reference for AWS' Identity and Access Management (IAM) features:

* [AWS Identity and Access Management Guide](http://docs.aws.amazon.com/IAM/latest/UserGuide/introduction.html): If you are new to AWS, start here.

* [Identities (Users, Groups, and Roles)](http://docs.aws.amazon.com/IAM/latest/UserGuide/id.html) in the AWS Identity and Access Management Guide

* [Temporary Security Credentials](http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html) in the AWS Identity and Access Management Guide: This documentation provides a general definition of IAM terms and provide best practices to help you manage IaaS users and permissions.


## <a id='gcp'></a> Google Cloud Platform (GCP)

This topic in the GCP documentation describes general authentication guidelines for GCP:

* [Authentication overview](https://cloud.google.com/docs/authentication)


## <a id='azure'></a> Microsoft Azure

This topic in the Microsoft Azure documentation describes managing IaaS users and credentials:

* [Azure documentation](https://docs.microsoft.com/en-us/azure/#pivot=services&panel=security)


## <a id='openstack'></a> OpenStack

These topics in the OpenStack documentation provide a general reference for OpenStack service credential management:

* [Creating the service credentials](http://docs.openstack.org/project-install-guide/ec2-api/draft/credentials-creation.html)

* [Configuring service credentials](http://docs.openstack.org/project-deploy-guide/openstack-ansible/newton/configure.html#configuring-service-credentials) in _Configure the deployment_

* [Configure the deployment](http://docs.openstack.org/project-deploy-guide/openstack-ansible/newton/configure.html)



## <a id='vsphere'></a> VMware vSphere

This topic in the VMware vSphere documentation describes best practices for securing and managing a vSphere installation:

* [vSphere Security guide (PDF)](http://pubs.vmware.com/vsphere-65/topic/com.vmware.ICbase/PDF/vsphere-esxi-vcenter-server-65-security-guide.pdf)
