---
title: Diego Network Communications
owner: Diego
---

This topic describes Diego internal network communication paths with other <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) components.

For more information about Diego components and architecture, see [Diego Components and Architecture](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/diego/diego-architecture.html).


## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to Diego:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| cloud_controller | diego_database (BBS) | 8889 | TCP | HTTPS | Mutual TLS |
| cloud_controller (Routing API) | diego_database (Locket) | 8891 | TCP | HTTPS | Mutual TLS |


## <a id="internal"></a> Diego Internal Communications

The following table lists network communication paths that are internal for Diego:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| diego_brain (Auctioneer) | diego_cell (Rep) | 1801 | TCP | HTTPS | Mutual TLS |
| diego_brain (Auctioneer) | diego_database (BBS) | 8889 | TCP | HTTPS | Mutual TLS |
| diego_brain (Auctioneer) | diego_database (Locket) | 8891 | TCP | HTTPS | Mutual TLS |
| diego_brain (SSH Proxy) | diego_database (BBS) | 8889 | TCP | HTTPS | Mutual TLS |
| diego_brain (SSH Proxy) | diego_cell (App instances) | Varies<sup>&#8225;</sup> | TCP | SSH | SSH |
| diego_brain (TPS Watcher) | diego_database (Locket) | 8891 | TCP | HTTPS | Mutual TLS |
| diego_cell (local Route Emitter) | diego_database (BBS) | 8889 | TCP | HTTPS | Mutual TLS |
| diego_cell (Rep) | diego_brain (CC Uploader) | 9091 | TCP | HTTPS | Mutual TLS |
| diego_cell (Rep) | diego_brain (File Server)<sup>&#8258;</sup> | 8447 | TCP | HTTPS | TLS |
| diego_cell (Rep) | diego_database (BBS) | 8889 | TCP | HTTPS | Mutual TLS |
| diego_cell (Rep) | diego_database (Locket) | 8891 | TCP | HTTPS | Mutual TLS |
| diego_database (BBS) | diego_brain (Auctioneer) | 9016 | TCP | HTTPS | Mutual TLS |
| diego_database (BBS) | diego_cell (Rep) | 1801 | TCP | HTTPS | Mutual TLS |
| diego_database (BBS) | diego_database (Locket) | 8891 | TCP | HTTPS | Mutual TLS |

<sup>&#8225;</sup>These are the host-side ports that map to port 2222 in app instance containers and are typically within the range 61001 to 65534.

<sup>&#8258;</sup>The Diego File Server is responsible for distributing non-sensitive, static platform assets to internal platform components.


## <a id="outbound"></a> Outbound Communications

The following table lists network communication paths that are outbound from Diego:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| diego_brain | cloud_controller | 9023 | TCP | HTTPS | Mutual TLS |
| diego_brain (SSH Proxy) | cloud_controller | 9024 | TCP | HTTPS | OAuth 2.0 |
| diego_brain (SSH Proxy) | uaa | 443 | TCP | HTTPS | TLS and OAuth 2.0 |
| diego_cell (local Route Emitter) | nats | 4222, 4223, 4224, 4225 | TCP | NATS | Basic authentication |
| diego_cell (Rep) | cloud_controller | 9023 | TCP | HTTPS | Mutual TLS |
| diego_cell (Rep) | nfs_server or other blobstore<sup>&#42;</sup> | Varies | TCP | HTTP | Signed URLs/TLS |
| diego_database (BBS) | cloud_controller | 9023 | TCP | HTTPS | Mutual TLS |
| diego_database (BBS) | mysql_proxy<sup>&#8224;</sup> | 3306 | TCP | MySQL | MySQL authentication<sup>&#42;&#42;</sup> |
| diego_database (Locket) | mysql_proxy<sup>&#8224;</sup> | 3306 | TCP | MySQL | MySQL authentication<sup>&#42;&#42;</sup> |

<sup>&#42;</sup>The destination depends on your <%= vars.app_runtime_abbr %> blobstore configuration. If you use the internal blobstore, the Diego Cell communicates to the blobstore using TLS on port 4443.

<sup>&#42;&#42;</sup>MySQL authentication uses the MySQL native password method.

<sup>&#8224;</sup>Applies only to deployments where internal MySQL is selected as the database.

<%= partial "bosh-dns" %>
