---
title: MySQL Network Communications
owner: Core Services
---

This topic describes MySQL internal network communication paths with other <%= vars.product_runtime %> (<%= vars.product_short %>) components.

<p class="note"><strong>Note:</strong> These communications only apply to deployments where internal MySQL is selected as the <%= vars.product_short %> database.</p>


## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to MySQL VMs:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| cloud_controller | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |
| cloud\_controller\_worker | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |
| clock_global | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |
| credhub | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |
| diego_cell (VXLAN Policy Agent) | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |
| diego_database (Policy Server) | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |
| diego_database (BBS) | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |
| diego_database (Locket) | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |
| uaa | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication* |

<sup>&#42;</sup> MySQL authentication uses the MySQL native password method.


## <a id="inbound"></a> Internal Communications

The following table lists network communication paths that are internal to MySQL VMs:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| mysql | mysql (Galera) | 4567 | TCP | MySQL | MySQL authentication* |
| mysql_monitor | mysql (MySQL Server) | 3306 | TCP | HTTP | Basic authentication |
| mysql_monitor | mysql_proxy (Proxy health check) | 443/8080** | TCP | HTTP | Basic authentication |
| mysql_proxy | mysql (MySQL Server) | 3306 | TCP | HTTP | MySQL authentication* |
| mysql_proxy | mysql (Galera health check) | 9200 | TCP | HTTP | Basic authentication |

<sup>&#42;</sup>MySQL authentication uses the MySQL native password method.

<sup>&#42;&#42;</sup>Port 443 is used if mysql\_proxy is registered with the Gorouter. If not registered, mysql\_proxy uses port 8080 instead.


## <a id="outbound"></a> Outbound Communications

The following table lists network communication paths that are outbound from MySQL:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| mysql_monitor | uaa | 8443 | TCP | HTTPS | OAuth |
| mysql_proxy (Route Registrar) | nats | 4222 | TCP | NATS | Basic authentication |

<p class="note"><strong>Note:</strong> If you select the <strong>Enable inactive mysql port</strong> checkbox on the <strong>Internal MySQL</strong> pane of the <%= vars.product_short %> tile, you can run auditing and reporting queries on an inactive MySQL node over port 3336. For more information, see the <a href="https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/configure-pas.html#internal-mysql">Configure Internal MySQL</a> section of <em>Configuring <%= vars.product_short %></em>.</p>

<%= partial "bosh-dns" %>
