---
title: UAA Network Communications
owner: UAA
---

This topic describes User Account and Authentication (UAA) internal network communication paths with other <%= vars.product_runtime %> (<%= vars.product_short %>) components.

For more information about UAA, see [User Account and Authentication (UAA) Server](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/architecture/uaa.html).


## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to UAA:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| cloud_controller | uaa | 8443 | TCP | HTTPS | OAuth 2.0 or none<sup>&#42;</sup> |
| diego_brain (SSH Proxy) | uaa | 443 | TCP | HTTPS | OAuth 2.0 |
| loggregator_trafficcontroller | uaa | 8443 | TCP | HTTPS | TLS |
| mysql_monitor | uaa | 8443 | TCP | HTTPS | OAuth |
| router | uaa | 8443 | TCP | HTTPS | OAuth 2.0 |

<sup>&#42;</sup>The authentication method depends on the type of request.


## <a id="outbound-internal"></a> Outbound Communications: Internal to <%= vars.product_name %>

The following table lists network communication paths that are outbound from UAA:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| uaa | mysql_proxy<sup>&#42;</sup> | 3306 | TCP | MySQL | MySQL authentication<sup>&#42;&#42;</sup> |
| uaa (Route Registrar) | nats | 4222 | TCP | NATS | Basic authentication |

<sup>&#42;</sup>Applies only to deployments where internal MySQL is selected as the database.

<sup>&#42;&#42;</sup> MySQL authentication uses the MySQL native password method.


## <a id="outbound-external"></a> Outbound Communications: External to <%= vars.product_name %>

The following table lists network communication paths from UAA that are outbound to external systems:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| uaa | LDAP | LDAP server communication port | TCP | LDAP/LDAPS | Basic authentication (LDAP bind) |
| uaa | SAML/OIDC | 80 or 443 (HTTP port) | TCP | HTTP/HTTPS | Key |

<%= partial "bosh-dns" %>
