---
title: Security Concepts
owner: Security
---

This section provides links to conceptual documentation that describes how Pivotal Cloud Foundry (PCF) 
implements security at different levels of the platform.

* <a href="https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/security.html">Cloud Foundry Security</a>: 
Provides an overview of the measures Cloud Foundry implements to minimize security risks.

* <a href="https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/container-security.html">Container Security</a>: 
Describes how PCF isolates containers and limits privileges for containers.

* <a href="https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/understand-cf-networking.html">Container-to-Container Networking</a>: 
Illustrates how the Container-to-Container Networking 
feature enables and secures internal app-to-app communication.

* [App Security Groups](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/asg.html): Describes the different types of App Security Groups (ASGs), how they work, and how to apply them.

* [App SSH Components and Processes](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/diego/ssh-conceptual.html): Provides an overview of the components that support SSH access to apps.
