---
title: Security Concepts
owner: Security
---

<<<<<<< HEAD
This section provides links to conceptual documentation that describes how Pivotal Cloud Foundry (PCF)
implements security at different levels of the platform.

* <a href="/pivotalcf/concepts/security.html">Cloud Foundry Security</a>:
Provides an overview of the measures Cloud Foundry implements to minimize security risks.

* <a href="/pivotalcf/concepts/container-security.html">Container Security</a>:
Describes how PCF isolates containers and limits privileges for containers.

* <a href="/pivotalcf/concepts/understand-cf-networking.html">Container-to-Container Networking</a>:
Illustrates how the Container-to-Container Networking
feature enables and secures internal app-to-app communication.

* <a href="/pivotalcf/concepts/asg.html">Application Security Groups</a>:
Explains the different types of application security groups, how they work and how to apply them.

* <a href="/pivotalcf/concepts/diego/ssh-conceptual.html">Application SSH Components and Processes</a>: Provides an overview of the components that support SSH access to apps.

* <a href="/pivotalcf/customizing/understanding-stemcells.html">Floating Stemcells</a>:  Describes how PCF automatically upgrades all compatible products when a new stemcell is available.
=======
The topics in this section describe how <%= vars.product_name %> implements security at different levels.

* [%= vars.app_runtime_abbr %> Security](../concepts/security.html): Provides an overview of the measures <%= vars.product_runtime %> (<%= vars.product_short %>) implements to minimize security risks.

* [Container Security](../concepts/container-security.html): Describes how <%= vars.product_name %> isolates containers and limits privileges for containers.

* [Container-to-Container Networking](../concepts/understand-cf-networking.html): Describes how the container-to-container networking feature enables and secures internal app-to-app communication.

* [App Security Groups](../concepts/asg.html): Describes the different types of App Security Groups (ASGs), how they work, and how to apply them.

* [App SSH Components and Processes](../concepts/diego/ssh-conceptual.html): Provides an overview of the components that support SSH access to apps.

* [Floating Stemcells](../customizing/understanding-stemcells.html): Describes how <%= vars.product_name %> automatically upgrades all compatible products when a new stemcell is available.
>>>>>>> ec41c5c... Style/formatting/variable sweep [#170966065]
