---
title: Security-Related Pivotal Platform Tiles and Add-ons
owner: Security
---

<% current_page.data.title = "Security-Related " + vars.platform_name + " Tiles and Add-Ons"  %>

This section provides links to other security-related services available for <%= vars.platform_name %> deployments.

For information about other security-related tiles provided by <%= vars.company_name %> partners, see [<%= vars.product_network %>](https://network.pivotal.io/) and the [<%= vars.company_name %> documentation](https://docs.pivotal.io).


## <a id="tiles"></a> Tiles

This section provides links to security-related tiles available for <%= vars.platform_name %> deployments.

* [Single Sign-On (SSO) for VMware Tanzu](https://docs.pivotal.io/p-identity/index.html): Provides support for native authentication, federated single sign-on, and authorization.

* [CredHub Service Broker](https://docs.pivotal.io/credhub-service-broker/index.html): Allows apps running on <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) to access secure credentials in CredHub.

* [Compliance Scanner](https://docs.pivotal.io/addon-compliance-tools/index.html): Enables operators and auditors to conduct compliance scanning of BOSH-managed Xenial VMs against configuration hardening guidelines.


## <a id="add-ons"></a> Add-ons

This section provides links to security-related BOSH add-ons available for <%= vars.platform_name %> deployments.

* [File Integrity Monitoring](https://docs.pivotal.io/addon-fim/index.html): Provides File Integrity Monitoring (FIM) protection within the <%= vars.platform_name %> environment. This monitoring is sometimes required for compliance purposes.

* [IPsec](https://docs.pivotal.io/addon-ipsec/index.html): Adds security to the network layer for each BOSH-deployed virtual machine (VM), increasing internal protection if a malicious actor breaches your firewall.
  * [Securing Data in Transit with IPsec](http://docs.pivotal.io/addon-ipsec/)
  * [Rotating IPsec Credentials](http://docs.pivotal.io/addon-ipsec/credentials.html)
  * [Installing IPsec](http://docs.pivotal.io/addon-ipsec/installing.html)

* [Anti-Virus](https://docs.pivotal.io/addon-antivirus/index.html): Provides antivirus protection within the <%= vars.platform_name %> environment. This protection is sometimes required for compliance purposes.
