---
title: Credential and Identity Management
owner: Security
---

The topics in this section describe different aspects of identity management, including credential management handled by CredHub, user creation and permissions management, and authentication for (<%= vars.product_name_full %> )<%= vars.product_name %>.


## <a id="general"></a> General Identity Management

These topics provide general information about credential and identity management in <%= vars.product_name %>:

* [<%= vars.platform_name %> User Types](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/user-types.html)
* [Retrieving Credentials from Your Deployment](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/credentials.html)


## <a id="credhub"></a> CredHub Documentation

CredHub provides centralized credential management in <%= vars.product_name %>. Credentials can include passwords, certificates, and SSH keys.

CredHub centralizes and secures credential generation, storage, lifecycle management, and system access.

These topics provide general information about CredHub:

* [CredHub](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/credhub/index.html)
* [CredHub Credential Types](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/credhub/credential-types.html.html)


## <a id="uaa"></a> UAA Documentation

<%= vars.product_name %> uses User Account and Authentication (UAA) to manage account roles and permissions in <%= vars.product_name %> runtimes.

UAA supports access control as OAuth2 services and can store user information internally, or connect to external user stores through LDAP or SAML.

These topics provide general information about UAA:

* [UAA Overview](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/uaa/uaa-overview.html)
* [UAA Concepts](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/uaa/uaa-concepts.html)
* [UAA Architecture](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/architecture/uaa.html)
* [Identity Providers in UAA](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/uaa/identity-providers.html)


## <a id="pcf"></a> <%= vars.product_name %> Roles and User Accounts

These topics describe how to manage <%= vars.product_name %> roles and user accounts in <%= vars.product_name %>:

* [Creating and Managing Users with the UAA CLI (UAAC)](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/uaa/uaa-user-management.html)
* [Adding Existing SAML or LDAP Users to a <%= vars.product_name %> Deployment](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/opsguide/external-user-management.html)
* [Creating and Managing Users with the UAA CLI (UAAC)](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/uaa/uaa-user-management.html)
* [Adding Existing SAML or LDAP Users to a <%= vars.platform_name %> Deployment](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/opsguide/external-user-management.html)

### <a id="ops-man"></a> <%= vars.ops_manager_full %> Roles and Permissions

These topics provide information about <%= vars.ops_manager %> roles and permissions:

* [Creating UAA Clients for BOSH Director](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing//opsmanager-create-bosh-client.html)
* [Configuring Role-Based Access Control (RBAC) in <%= vars.ops_manager %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/opsguide/config-rbac.html)
* [Creating and Managing <%= vars.ops_manager %> User Accounts](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing//opsman-users.html)

### <a id="pas"></a> <%= vars.product_runtime %> (<%= vars.product_short %>) Roles and Permissions

These topics provide information about <%= vars.product_short %> roles and permissions:

* [Orgs, Spaces, Roles, and Permissions](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/roles.html):
* [Creating New <%= vars.product_short %> User Accounts](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/opsguide/creating-account.html)
* [Managing User Roles with Apps Manager](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/console-roles.html)

### <a id="pks"></a> <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) Roles and Permissions

These topics provide information about <%= vars.k8s_runtime_abbr %> roles and permissions:

* [Managing Users in <%= vars.k8s_runtime_abbr %> with UAA](https://docs.pivotal.io/pks/manage-users.html)
